<div class="row justify-content-center">
  <div class="col-lg-8 col-md-8">
    <div class="card mb-3">
      <div class="card-header">Sign in</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <p class="text-center">OR</p>
          <div class="form-group">
            <label for="phone-number">Phone number</label>
            <input type="password" class="form-control" id="phone-number">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>
