<div class="row justify-content-center">
  <div class="col-md-4 col-lg-4">
    <button type="button" routerLink="/add-friend" class="btn btn-outline-primary btn-lg btn-block">
      <fa-icon [icon]="faUserPlus"></fa-icon> <span class="pl-2">Add friend</span>
    </button>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-8">
    <div class="list-group mt-4">
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">John Smith</h5>
          Owes you $100
        </div>
      </a>
    </div>
  </div>
</div>
