
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="d-flex bd-highlight">
          <div class="mr-auto p-2 bd-highlight">
            <h5 class="card-title">
              <fa-icon [icon]="faUsers" size="lg" class="pr-2"></fa-icon>
              Las Vegas trip
            </h5>
          </div>
          <div class="p-2 bd-highlight">
            <button type="button" class="btn btn-outline-danger btn-sm"><fa-icon [icon]="faDelete" size="lg"></fa-icon></button>
          </div>
        </div>

        <h4 class="card-subtitle mb-2 text-muted">$500</h4>
        <p><small>Added by you on November 11, 2021.</small></p>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Members</th>
              <th scope="col">Money owe</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">2</th>
              <td>Patrick Neff</td>
              <td>$250</td>
              <td><button type="button" class="btn btn-success btn-sm">Resolve payment</button></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>You</td>
              <td>$250</td>
              <td><button type="button" class="btn btn-success btn-sm">Resolve payment</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
