<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">SplitBill</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="container">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <!-- <a class="nav-link" routerLink="groups" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Groups
              <span class="ml-2"><fa-icon [icon]="faUsers" size="lg"></fa-icon></span>
              <span class="sr-only">(current)</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="expenses" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Expenses
              <span class="ml-2"><fa-icon [icon]="faExpense" size="lg"></fa-icon></span>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="friends" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Friends
              <span class="ml-2"> <fa-icon [icon]="faUser"></fa-icon></span>
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="activities" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Activity
              <span class="ml-2"> <fa-icon [icon]="faChartLine" size="lg"></fa-icon> </span>
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="add-expense" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"> Add expense
              <span class="ml-2"> <fa-icon [icon]="faExpense" size="lg"></fa-icon> </span>
              <span class="sr-only"></span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link">Overall, you are owed $1000</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              <fa-icon [icon]="faUserCircle" size="lg"></fa-icon>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" routerLink="sign-up">Sign up</a></li>
              <li><a class="dropdown-item" routerLink="sign-in">Sign in</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Log out</a></li>
            </ul>
          </li>
        </ul>
        <!-- <span class="my-2 my-lg-0 dropdown">
          <a class="nav-item nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </span> -->
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
</header>
<body>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>


