<div class="row justify-content-center">
  <div class="col-md-8 col-lg-8">
    <div class="list-group mt-4">
      <a [routerLink]="['/group-view', 10]" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><small class="text-muted">2021-11-01</small> <span class="pl-3">Las Vegas trip</span> </h5>
          You are owed $250
        </div>
      </a>
    </div>
    <div class="list-group mt-4">
      <a [routerLink]="['/group-view', 10]" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><small class="text-muted">2021-11-07</small> <span class="pl-3">Dinner at Red Robin</span> </h5>
          You are owed $20
        </div>
      </a>
    </div>
  </div>
</div>
